* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
}
  
h1 {
		font-weight: 600;
		font-size: 36px;
		color: #fff;
	    line-height: 130%;
	    letter-spacing: 0.01em;
		text-align: center;
}

h3 {
		font-weight: 600;
		font-size: 20px;
		color: #3479E9;
	    line-height: 140%;
	    letter-spacing: 0.01em;
		text-align: center;
}

p {
		font-weight: 400;
		font-size: 14px;
		color: #fff;
	    line-height: 180%;
	    letter-spacing: 0.04em;
		text-align: center;
}

.light-bold {
  font-weight: 600;
}

input {
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  width: 100%;
  max-width: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

img, video {
  max-width: 100%;
  height: auto;
}

.video_background {
  position: fixed; /* или absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* отправляем на задний план */
}

.video-darken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.6) 0%, 
    rgba(0, 0, 0, 0.3) 50%, 
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 1;
}

.desktop-header {
	position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
	backdrop-filter: blur(10px);
}

.logo_header {
	height: 45px;
}

.top-header {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
	
}

.nav-links {
	display: flex;
    justify-content: space-between;
    gap: 24px;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.01em;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
		color: #A1A1AA;
		text-decoration: none; 
}

#lk-button {
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 400;
    gap: 6px;
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    color: #fff;
	max-height: 36px;
    height: 100%;
	letter-spacing: 0.02em;
}

.lk-button {
	font-size: 10px;
    font-weight: 400;
}

.main-nav {
	display: flex;
    align-items: center;
}

.container {
  position: relative;
  z-index: 10;
  margin-top: 103px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containers_background {
	backdrop-filter: blur(3px);
    padding: 16px 24px;
    border-radius: 16px;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #67677b;
    border-right: 1px solid #141e3fc9;
	border-left: 1px solid #141e3fc9;
    width: fit-content;
    box-shadow: inset 0 0 60px rgb(173 216 230 / 10%);
}

.container_right,
.container_left {
	display: flex;
    gap: 40px;
    flex-direction: column;
}

.container_right {
	margin-left: -20px;
	margin-top: 32px;
}

.level_containers {
	display: flex;
	flex-direction: row;
	gap: 27px;
}

.container_center {
	max-width: 798px;
	width: 100%;
	display: flex;
    flex-direction: column;
    gap: 82px;
	justify-content: center;
	align-items: center;
}

#center_banner {
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 35px;
	border-top: 1px solid #52629a;
    border-bottom: 1px solid #52629a;
    border-right: 1px solid #ffffff5c;
    border-left: 1px solid #52629a;
    backdrop-filter: blur(10px);
	box-shadow: inset 20px 0 50px rgb(173 216 230 / 10%);
	
		&::after {
	    content: '';
	    position: absolute;
	    bottom: -2px;
        left: 10%;
        right: 10%;
        height: 220px;
		background: radial-gradient(ellipse at bottom, rgb(52 121 233 / 33%) 5%, rgb(255 255 255 / 0%) 60%, transparent 100%);
	    border-radius: 80% 80% 0% 0;
	    z-index: 1;
	  }
	
}

.subtitle {
	display: flex;
    flex-direction: column;
    gap: 28px;
	max-width: 610px;
	width: 100%;
}

.zayvka {
	padding: 20px 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    gap: 6px;
    backdrop-filter: blur(1px);
    color: #fff;
	max-height: 36px;
    height: 100%;
	letter-spacing: 0.01em;
}

/* Контейнер для точной обрезки */
.video-btn-wrapper {
    width: 610px;
    height: 66px;
    overflow: hidden;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: -160px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.video-btn-wrapper:hover {
    top: -4px;
	transition: all 0.3s ease-in-out;
}


.video-btn-wrapper video {
    position: absolute;
    top: 0;
    right: 300px;
    left: 345px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -170px -270px;
}

.container_left {
	margin-left: 0px;
	margin-right: -20px;
	align-items: flex-end;
}

.container_left .level_containers {
	gap: 11px;
}

 /* Модальное окно */
        .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(10, 26, 45, 0.85); /* Увеличиваем непрозрачность для большего затемнения */
		    backdrop-filter: blur(8px); /* Добавляем размытие фона */
		    -webkit-backdrop-filter: blur(8px);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease, backdrop-filter 0.3s ease;
        }

        .modal-overlay.active {
            opacity: 1;
            visibility: visible;
        }

		.modal-overlay.active ~ .container {
		    filter: brightness(0.7) blur(2px); /* Затемнение и легкое размытие основного контента */
		    transition: filter 0.3s ease;
		}

        .modal {
			display: flex;
			flex-direction: column;
			gap: 40px;
			width: fit-content;
            color: #fff;
            overflow: hidden;
            transform: translateY(30px);
            transition: transform 0.3s;
            backdrop-filter: blur(3px);
		    padding: 50px 42px;
		    border-radius: 28px;
		    box-sizing: border-box;
		    border: 1px solid #67677b;
		    border-right: 1px solid #fff;
		    box-shadow: inset 0 0 60px rgb(173 216 230 / 10%);
        }

        .modal-overlay.active .modal {
            transform: translateY(0);
        }

        .modal-header {
            color: white;
            text-align: center;
			display: flex;
		    flex-direction: column;
		    gap: 24px;
        }

        .modal-header p {
            opacity: 0.6;
            font-size: 20px;
			line-height: 150%;
		    letter-spacing: 0.02em;
			text-align: center;
        }

        .modal-content {
            padding: 30px;
        }

        .inputs-group {
            display: flex;
			flex-direction: column;
			gap: 24px;
        }

        .input-group input {
                width: 100%;
			    height: 64px;
			    padding: 12px 24px;
			    border-radius: 16px;
			    font-size: 16px;
				letter-spacing: 0.01em;
        }

        .input-group input:focus {
            outline: none;
            border-color: #4facfe;
            box-shadow: 0 0 0 2px rgba(79, 172, 254, 0.2);
        }

        .communication-methods {
            display: flex;
		    flex-direction: column;
		    align-items: center;
		    gap: 20px;
        }

        .communication-methods h4 {
            margin-bottom: 10px;
            color: #555;
        }

        .methods-list {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
        }

        .method-option {
                display: flex;
			    align-items: center;
				justify-content: center;
			    gap: 6px;
			    padding: 12px 20px;
			    height: 40px;
			    border-radius: 8px;
			    background-color: rgb(255 255 255 / 5%);
			    backdrop-filter: blur(150px);
			    border: none;
			    color: #fff;
			    font-size: 12px;
				cursor: pointer;
				transition: all 0.3s ease;
        }

		.method-option:hover {
		   top: 4px;
		}

		.method-option.active {
			    background: #fff !important;
			    color: #000 !important;
		}

        .checkbox-group {
            display: flex;
		    align-items: center;
		    gap: 12px;
		    justify-content: center;
        }

		.custom-radio {
		    position: relative;
		    width: 18px;
		    height: 18px;
		}
		
		.custom-radio input[type="radio"] {
		    position: absolute;
		    opacity: 0;
		    width: 100%;
		    height: 100%;
		    cursor: pointer;
		    z-index: 1;
		}
		
		.checkmark {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 18px;
		    height: 18px;
		    border: 2px solid rgba(255, 255, 255, 0.4);
		    border-radius: 50%;
		    background: transparent;
		    transition: all 0.2s ease;
		}
		
		.custom-radio input[type="radio"]:hover ~ .checkmark {
		    border-color: #2B65DA;
		}
		
		.custom-radio input[type="radio"]:checked ~ .checkmark {
		    border-color: #fff;
		    background: #2B65DA;
		}
		
		.custom-radio input[type="radio"]:checked ~ .checkmark::after {
		    content: '';
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    width: 8px;
		    height: 8px;
		    background: #2B65DA;
		    border-radius: 50%;
		}

        .checkbox-group label {
            color: #fff;
		    font-size: 12px;
		    line-height: 1.4;
		    opacity: 0.6;
        }

        .checkbox-group a {
            color: #4facfe;
            text-decoration: none;
        }

        .checkbox-group a:hover {
            text-decoration: underline;
        }

        .modal-footer {
            display: flex;
    		justify-content: center;
        }

        .submit-btn {
            background: #2B65DA;
		    color: white;
		    border: none;
		    border-radius: 10px;
		    padding: 16px 24px;
		    font-size: 16px;
		    font-weight: 500;
		    letter-spacing: 0.01em;
		    height: 48px;
		    cursor: pointer;
		    transition: transform 0.2s, box-shadow 0.2s;
        }

        .submit-btn:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgba(79, 172, 254, 0.4);
        }

        .close-btn {
            position: absolute;
            top: 15px;
            right: 15px;
            background: rgba(255, 255, 255, 0);
            border: none;
            color: white;
            width: 36px;
            height: 36px;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.3s;
        }

        .close-btn:hover {
            color: #fff;
		}
