* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  color: #fff;
  background-color: #000;
}
  
h1 {
		font-weight: 600;
		font-size: 36px;
		color: #fff;
	    line-height: 130%;
	    letter-spacing: 0.01em;
		text-align: center;
}

h3 {
		font-weight: 600;
		font-size: 20px;
		color: #3479E9;
	    line-height: 140%;
	    letter-spacing: 0.01em;
		text-align: center;
}

p {
		font-weight: 400;
		font-size: 14px;
		color: #fff;
	    line-height: 180%;
	    letter-spacing: 0.04em;
		text-align: center;
}

input {
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  width: 100%;
  max-width: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

img, video {
  max-width: 100%;
  height: auto;
}

.video_background {
  position: fixed; /* или absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* отправляем на задний план */
}

.video-darken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.6) 0%, 
    rgba(0, 0, 0, 0.3) 50%, 
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 1;
}

.desktop-header {
	position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
	backdrop-filter: blur(10px);
}

.logo_header {
	height: 45px;
}

.top-header {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
	
}

.nav-links {
	display: flex;
    justify-content: space-between;
    gap: 24px;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.01em;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
		color: #A1A1AA;
		text-decoration: none; 
}

#lk-button {
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 400;
    gap: 6px;
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    color: #fff;
	max-height: 36px;
    height: 100%;
	letter-spacing: 0.02em;
}

.main-nav {
	display: flex;
    align-items: center;
}

.container {
  position: relative;
  z-index: 10;
  margin-top: 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containers_background {
	backdrop-filter: blur(3px);
    padding: 16px 24px;
    border-radius: 16px;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #67677b;
    border-right: 1px solid #141e3fc9;
    width: fit-content;
    box-shadow: inset 0 0 60px rgb(173 216 230 / 10%);
}

.container_right {
	display: flex;
    gap: 40px;
    flex-direction: column;
	margin-left: -20px;
}

.level_containers {
	display: flex;
	flex-direction: row;
	gap: 27px;
}

.container_center {
	max-width: 798px;
	width: 100%;
}

#center_banner {
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 45px;
}

.zayvka {
	padding: 20px 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    gap: 6px;
    backdrop-filter: blur(1px);
    color: #fff;
	max-height: 36px;
    height: 100%;
	letter-spacing: 0.01em;
}

