* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #000;
  line-height: 1.5;
}
  
h1 {
		font-weight: 700;
		font-size: 48px;
		color: #2A3176;
		margin-bottom: 46px;
	        line-height: 120%;
}

h2 {
		font-weight: 700;
		font-size: 28px;
		line-height: 120%;
		letter-spacing: 1%;
		color: #2A3176;
		margin-bottom: 16px;
}

p {
		font-size: 24px;
		font-weight: 400;
		line-height: 120%; 
}

input {
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  width: 100%;
  max-width: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

img, video {
  max-width: 100%;
  height: auto;
}

.desktop-header {
	position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    padding: 32px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
