* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  color: #fff;
  background-color: #000;
}
  
h1 {
		font-weight: 700;
		font-size: 48px;
		color: #2A3176;
		margin-bottom: 46px;
	        line-height: 120%;
}

h2 {
		font-weight: 700;
		font-size: 28px;
		line-height: 120%;
		letter-spacing: 1%;
		color: #2A3176;
		margin-bottom: 16px;
}

p {
		font-size: 24px;
		font-weight: 400;
		line-height: 120%; 
}

input {
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  width: 100%;
  max-width: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

img, video {
  max-width: 100%;
  height: auto;
}

.video_background {
  position: fixed; /* или absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* отправляем на задний план */
}

.video-darken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0.6) 0%, 
    rgba(0, 0, 0, 0.3) 50%, 
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 1;
}

.desktop-header {
	position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
	backdrop-filter: blur(10px);
}

.logo_header {
	height: 45px;
}

.top-header {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
	
}

.nav-links {
	display: flex;
    justify-content: space-between;
    gap: 24px;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.01em;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
		color: #A1A1AA;
		text-decoration: none; 
}

#lk-button {
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 400;
    gap: 6px;
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    color: #fff;
	max-height: 36px;
    height: 100%;
	letter-spacing: 0.02em;
}

.main-nav {
	display: flex;
    align-items: center;
}

.container {
  position: relative;
  z-index: 10;
  margin-top: 100px; /* под хедером */
}

.containers_background {
	backdrop-filter: blur(10px);
	padding: 16px 24px;
	border-radius: 16px;
	box-sizing: border-box;
  	border-top: 1px solid #fff;
  	border-bottom: 1px solid #fff;
	width: fit-content;
}

.container_right {
	gap: 40px;
}

.level_containers {
	display: flex;
	flex-direction: row;
	gap: 27px;
}
.level1 {
	margin-right: 20px;
}

