* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  color: #000;
  background-color: #fff;
  line-height: 1.5;
  margin: 0px 108px;
}
  
@media (max-width: 1512px) {
  body {
    margin: 0px 72px;
  }
}

@media (max-width: 1024px) { 
  body {
    margin: 0px 50px;
  }
}

@media (max-width: 480px) {
  body {
    margin: 0px 30px;
  }
}

h1 {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: 48px;
		color: #2A3176;
		margin-bottom: 46px;
	        line-height: 120%;
}

h2 {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: 28px;
		line-height: 120%;
		letter-spacing: 1%;
		color: #2A3176;
		margin-bottom: 16px;
}

p {
		font-family: "Nunito", sans-serif;
		font-size: 24px;
		font-weight: 400;
		line-height: 120%; 
}

input {
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  width: 100%;
  max-width: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

@media (max-width: 1512px) {
	h1 {
		font-size: 32px;
		margin-bottom: 30px;
	}

	h2 {
		font-size: 20px;
		margin-bottom: 12px;
	}

	p {
		font-size: 16px;
	}
} 

@media (max-width: 1024px) {
	h1 {
		font-size: 32px;
		margin-bottom: 24px;
	}

	h2 {
		font-size: 16px;
		margin-bottom: 4px;
	}

	p {
		font-size: 12px;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 32px;
		margin-bottom: 24px;
	}

	h2 {
		font-size: 20px;
		margin-bottom: 12px;
	}

	p {
		font-size: 18px;
	}
}

img {
  max-width: 100%;
  height: auto;
}
