* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  background-color: #fff;
  line-height: 1.5;
}
  
h1 {
		font-weight: 700;
		font-size: 48px;
		color: #2A3176;
		margin-bottom: 46px;
	        line-height: 120%;
}

h2 {
		font-weight: 700;
		font-size: 28px;
		line-height: 120%;
		letter-spacing: 1%;
		color: #2A3176;
		margin-bottom: 16px;
}

p {
		font-size: 24px;
		font-weight: 400;
		line-height: 120%; 
}

input {
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  width: 100%;
  max-width: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

img {
  max-width: 100%;
  height: auto;
}
